.portfolio-new .portfolio-block {
  padding: 30px 60px;
  background-image: url("/assets/img/portfolio-back.png");
  background-size: 100% 100%;
}
.portfolio-new .portfolio-customization {
  position: relative;
}
.portfolio-new .portfolio-customization h2 {
  font-weight: 700;
  font-size: 42px;
  color: #151515;
}
.portfolio-new .portfolio-customization img {
  object-fit: contain;
  width: 100%;
}
.portfolio-new .portfolio-customization .cust-detail {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.portfolio-new .portfolio-block .portfolio-item{
  display: flex;
  justify-content: center;
}
.portfolio-new .portfolio-block .portfolio-info {
  flex: 0 0 50%;
  padding: 0 30px;
}
.portfolio-new .portfolio-block .portfolio-swiper {
  flex: 0 0 45%;
}

.portfolio-new .portfolio-block .portfolio-info h1 {
  font-family: Alibaba-PuHuiTi, Alibaba-PuHuiTi;
  font-weight: 700;
  font-size: 42px;
  color: #000000;
  background: linear-gradient(246.449671142044deg, #0059EF 0%, #00AAFD 100%);
  -webkit-background-clip: text;
  /* 将渐变应用到文字上 */
  -webkit-text-fill-color: transparent;
  /* 设置文字颜色为透明，显示渐变效果 */
}

.portfolio-new .portfolio-block .portfolio-info p {
  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  line-height: 36px;
  text-align: left;
  font-style: normal;
}

@media (max-width: 768px) {
  .portfolio-new .portfolio-block .portfolio-item {
    flex-direction: column-reverse !important;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .portfolio-new .portfolio-block .portfolio-swiper {
    width: 100%;
  }
}

.portfolio-new .btn {
  font-family: PingFangSC, PingFang SC;
  border-radius: 1080px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 15px 50px;
  color: #fff;
  background: linear-gradient(336deg, #0059EF 0%, #00AAFD 100%);
}