.portfolio-swiper .swiper-pagination {
    /*margin-top: 15px;*/
    /*position: relative;*/
}

.portfolio-swiper .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #ff7f5d;
}

.portfolio-swiper .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #ff7f5d;
}

.portfolio-swiper .swiper-button-prev {
    color: #ff7f5d;
}

/*.portfolio-swiper .swiper-button-prev:hover {*/
/*    color: #ff7f5d;*/
/*}*/

.portfolio-swiper .swiper-button-next {
    color: #ff7f5d;
}