.portfolio-swiper .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #0059EF;
}

.portfolio-swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-light-blue);
}

.portfolio-swiper .swiper-button-prev {
  width: 10%;
  height: 100%;
  left: 0;
  top: 0;
  margin-top: 0;
  color: var(--color-light-blue);
  opacity: 0;
  background-color: rgba(94, 94, 94, 0.3);
  transition: ease-out 0.3s;
}

.portfolio-swiper .swiper-button-prev:hover {
  opacity: 1;
  transition: ease-in 0.3s;
}

.portfolio-swiper .swiper-button-next {
  width: 10%;
  height: 100%;
  right: 0;
  top: 0;
  margin-top: 0;
  color: var(--color-light-blue);
  opacity: 0;
  background-color: rgba(94, 94, 94, 0.3);
  transition: ease-out 0.3s;
}

.portfolio-swiper .swiper-button-next:hover {
  opacity: 1;
  transition: ease-in 0.3s;
}